.form__label {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

.form {
  max-width: 385px;
}

.form__placeholder {
  color: #838383;
  font-family: Inter;
  font-size: 20px;
  line-height: 30px;
}

.form__input {
  color: #000;
  margin: 8px 0 32px;
  padding: 15px 20px;
  box-sizing: border-box;
  width: 100%;
  display: block;
  border: 1px solid #838383;
  border-radius: 4px;
}

.form__checkbox {
  display: flex;
  justify-content: center;
  gap: 12px;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-style: none;
  border-radius: 2px;
}

.form__button {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  margin-top: 32px;
  margin-bottom: 32px;
  width: 100%;
  border: none;
  padding: 20px 0;
  background-color: #1878dc;
}

.form__button:hover {
  background-color: #3f96f3;
  transition-duration: 1s;
}
