.header {
  z-index: 0;
  padding: 0;
  position: relative;
  display: flex;
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  background-position: center;
  background-repeat: no-repeat;
  height: 800px;
  margin: 0 0 0 80px;
  background-size: cover;
  flex-direction: column;
}

.header__title {
  margin: 183px 0 0;
  max-width: 729px;
  font-family: Inter, Arial, sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header__title-accent {
  display: block;
  font-family: Noto Serif, "Times New Roman", serif;
  font-style: italic;
  color: #3f96f3;
}

.header__description {
  display: block;
  margin: 28px 0 0;
  max-width: 683px;
  position: relative;
  font-family: Noto Serif, "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  z-index: -1;
  position: absolute;
  margin: 0;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  align-items: flex-end;
  padding-bottom: 30px;
  font-family: Inter, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}

.header__paragraph {
  margin: 0 80px 0 0;
}
